<!DOCTYPE html>
<html>
<head>
    <title>TaskFlow RBAC</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>TaskFlow RBAC</h1>

    <p>Role Based Access Control Task Management System</p>

    <div class="buttons">
        <a href="/login-page">
            <button>Login</button>
        </a>

        <a href="/signup-page">
            <button>Signup</button>
        </a>

        <a href="/docs">
            <button>Swagger Docs</button>
        </a>
    </div>

</div>

</body>
</html>