{% extends "base.html" %}

{% block content %}

<div class="max-w-md mx-auto bg-white p-8 rounded-xl shadow-lg">

    <h2 class="text-3xl font-bold text-center text-blue-600 mb-6">
        Login
    </h2>

    <form class="space-y-4">

        <input
            type="email"
            placeholder="Enter Email"
            class="w-full border p-3 rounded-lg"
        >

        <input
            type="password"
            placeholder="Enter Password"
            class="w-full border p-3 rounded-lg"
        >

        <button
            type="submit"
            class="w-full bg-blue-600 hover:bg-blue-700 text-white p-3 rounded-lg"
        >
            Login
        </button>

    </form>

</div>

{% endblock %}